//image cropper
.LyImageCropper-root-a{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;

    & .LyImageCropper-imgContainer-b{
        cursor: move;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        touch-action: none;

        // transform image drag
        // transform: translate3d(-2996.1px, -1647.5px, 0px) scale(0.106752);
        // transform-origin: 3747.5px 1873.5px 0px;
    }

    .LyImageCropper-defaultContent-f{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        & > input{
            background: transparent;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
    
}
