//cropper area
.LyImageCropper-area-d{
    //config width
    width: 400px;
    height: 400px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    box-shadow: 0 0 0 20000px rgba(0, 0, 0, 0.4);
    margin: auto;

    &::after{
        border: solid 2px rgb(255, 255, 255);
        border-radius: inherit;
    }

    &::before{
        width: 0;
        height: 0;
        margin: auto;
        border-radius: 50%;
        background: #fff;
        border: solid 2px rgb(255, 255, 255);
    }

    &::before, &::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}