.LyImageCropper-root-a{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}